In [1]:
# this is a comment
for i in 1:5
    println(i)
    for j in 1:5
        println(j)
        print(i + j)
    end
    println(i)
end
print("done looping")

1
1
22
33
44
55
61
2
1
32
43
54
65
72
3
1
42
53
64
75
83
4
1
52
63
74
85
94
5
1
62
73
84
95
105
done looping

In [2]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

210

In [3]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [4, 5, 6]
 [7, 8, 9]

In [4]:
matrix = [1 2 3; 4 5 6; 7 8 9]

3Ã—3 Array{Int64,2}:
 1  2  3
 4  5  6
 7  8  9

In [5]:
easier_to_read_lists_of_lists = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [4, 5, 6]
 [7, 8, 9]

In [6]:
two_plus_three = 2 +
3

5

In [7]:
# whitespace doesn't affect copy pasting in Julia
for i in 1:5
    
    
    
print(i)
end

12345

In [8]:
my_regex = r"[0-9]+"i

r"[0-9]+"i

In [9]:
using DataStructures: counter, DefaultDict

In [10]:
"This is where you put an optional docstring that explains what the function does. For example, this function multiplies its input by 2."
double(x) = 2x

double

In [11]:
?double

search: double Cdouble

  This is where you put an optional docstring that explains what the function
  does. For example, this function multiplies its input by 2.

In [12]:
"Calls the function `f` with 1 as its argument"
apply_to_one(f) = f(1)

apply_to_one

In [13]:
my_double = double

double (generic function with 1 method)

In [14]:
x = apply_to_one(my_double)

2

In [15]:
y = apply_to_one(x -> x + 4)

5

In [16]:
y = apply_to_one() do x
    x + 4
end

5

In [17]:
another_double = x -> 2x
# don't do this?

#7 (generic function with 1 method)

In [18]:
"Do this instead?"
another_double2(x) = 2x

another_double2

In [19]:
my_print(message="My default message") = print(message)

my_print (generic function with 2 methods)

In [20]:
my_print("Hello")

Hello

In [21]:
my_print()

My default message

In [22]:
full_name(first = "What's his name", last = "Something") = first * " " * last

full_name (generic function with 3 methods)

In [23]:
full_name("Joel", "Grus")

"Joel Grus"

In [24]:
full_name("Joel")

"Joel Something"

In [25]:
full_name(last="Grus") # this doesn't work in julia

MethodError: MethodError: no method matching full_name(; last="Grus")
Closest candidates are:
  full_name() at In[22]:1 got unsupported keyword argument "last"
  full_name(!Matched::Any) at In[22]:1 got unsupported keyword argument "last"
  full_name(!Matched::Any, !Matched::Any) at In[22]:1 got unsupported keyword argument "last"

In [26]:
full_name_2(; first = "Fname", last = "lname") = "$first $last"

full_name_2 (generic function with 1 method)

In [27]:
full_name_2()

"Fname lname"

In [28]:
full_name_2("joel") # doesn't work

MethodError: MethodError: no method matching full_name_2(::String)
Closest candidates are:
  full_name_2(; first, last) at In[26]:1

In [29]:
full_name_2(first = "Joel")

"Joel lname"

In [30]:
full_name_2(last = "Grus")

"Fname Grus"

In [31]:
single_quoted_string = 'data science' # Doesn't exist in Julia

LoadError: syntax: invalid character literal

In [32]:
single_quoted_character = 'ðŸ’©'

'ðŸ’©': Unicode U+1F4A9 (category So: Symbol, other)

In [33]:
double_quoted_string = "data science"

"data science"

In [34]:
tab_char = '\t'

'\t': ASCII/Unicode U+0009 (category Cc: Other, control)

In [35]:
tab_string = "\t"

"\t"

In [36]:
length(tab_string)

1

In [37]:
not_tab_string = raw"\t"

"\\t"

In [38]:
length(not_tab_string)

2

In [39]:
multi_line_string = """This is the first line.
and this is the second line"""

"This is the first line.\nand this is the second line"

In [40]:
first_name = "Joel"

"Joel"

In [41]:
last_name = "grus"

"grus"

In [42]:
full_name1 = first_name * " " * last_name

"Joel grus"

In [43]:
full_name2 = "$(first_name) $(last_name)"

"Joel grus"

In [44]:
print(0 Ã· 0) # / is float division, Ã· is integer division

DivideError: DivideError: integer division error

In [45]:
try
    print(0 Ã· 0)
catch e
    if e isa DivideError
        print("cannot divide by 0")
    else
        rethrow()
    end 
end

cannot divide by 0

In [46]:
integer_array = [1, 2, 3]

3-element Array{Int64,1}:
 1
 2
 3

In [47]:
heterogenous_array = ["string", 0.1, true]

3-element Array{Any,1}:
     "string"
    0.1
 true

In [48]:
array_of_array = [integer_array, heterogenous_array, []]

3-element Array{Array{Any,1},1}:
 [1, 2, 3]
 ["string", 0.1, true]
 []

In [49]:
array_length = length(integer_array)

3

In [50]:
array_sum = sum(integer_array)

6

In [51]:
x = [1:10...]

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [52]:
zero = x[0] # Indexing is 1 based

BoundsError: BoundsError: attempt to access 10-element Array{Int64,1} at index [0]

In [53]:
_one = x[1]

1

In [54]:
nine = x[end-1]

9

In [55]:
ten = x[end]

10

In [56]:
_first = x[begin]

1

In [57]:
x[1] = -1

-1

In [58]:
x

10-element Array{Int64,1}:
 -1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [59]:
first_three = x[begin:3]

3-element Array{Int64,1}:
 -1
  2
  3

In [60]:
three_to_end = x[3:end]

8-element Array{Int64,1}:
  3
  4
  5
  6
  7
  8
  9
 10

In [61]:
one_to_four = x[1:4]

4-element Array{Int64,1}:
 -1
  2
  3
  4

In [62]:
last_three = x[end-2:end]

3-element Array{Int64,1}:
  8
  9
 10

In [63]:
without_first_and_last = x[begin+1:end-1]

8-element Array{Int64,1}:
 2
 3
 4
 5
 6
 7
 8
 9

In [64]:
copy_of_x = x[:]

10-element Array{Int64,1}:
 -1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [65]:
every_third = x[begin:3:end]

4-element Array{Int64,1}:
 -1
  4
  7
 10

In [66]:
five_to_three = x[5:-1:3]

3-element Array{Int64,1}:
 5
 4
 3

In [67]:
1 in [1, 2, 3]

true

In [68]:
0 in [1, 2, 3]

false

In [69]:
x = [1, 2, 3]

3-element Array{Int64,1}:
 1
 2
 3

In [70]:
append!(x, [4, 5, 6])

6-element Array{Int64,1}:
 1
 2
 3
 4
 5
 6

In [71]:
x = [1, 2, 3]

3-element Array{Int64,1}:
 1
 2
 3

In [72]:
y = [x; [4, 5, 6]]

6-element Array{Int64,1}:
 1
 2
 3
 4
 5
 6

In [73]:
x = [1, 2, 3]

3-element Array{Int64,1}:
 1
 2
 3

In [74]:
push!(x, 0)

4-element Array{Int64,1}:
 1
 2
 3
 0

In [75]:
y = x[end]

0

In [76]:
z = length(x)

4

In [77]:
x, y = [1, 2]

2-element Array{Int64,1}:
 1
 2

In [78]:
x, y = [1, 2, 3, 5] # this works in Julia

4-element Array{Int64,1}:
 1
 2
 3
 5

In [79]:
_, y = [1, 2]

2-element Array{Int64,1}:
 1
 2

In [80]:
my_list = [1, 2]

2-element Array{Int64,1}:
 1
 2

In [81]:
my_tuple = 1, 2

(1, 2)

In [82]:
other_tuple = 3, 4

(3, 4)

In [83]:
my_list[2] = 3

3

In [84]:
my_list

2-element Array{Int64,1}:
 1
 3

In [85]:
my_tuple[2] = 3

MethodError: MethodError: no method matching setindex!(::Tuple{Int64,Int64}, ::Int64, ::Int64)

In [86]:
sum_and_product(x, y) = (x + y), (x * y)

sum_and_product (generic function with 1 method)

In [87]:
sp = sum_and_product(2, 3)

(5, 6)

In [88]:
s, p = sum_and_product(5, 10)

(15, 50)

In [89]:
x, y = 1, 2

(1, 2)

In [90]:
x, y = y, x

(2, 1)

In [91]:
empty_dict = Dict()

Dict{Any,Any} with 0 entries

In [92]:
empty_dict2 = Dict()

Dict{Any,Any} with 0 entries

In [93]:
grades = Dict("Joel" => 80, "Tim" => 95)

Dict{String,Int64} with 2 entries:
  "Joel" => 80
  "Tim"  => 95

In [94]:
joels_grade = grades["Joel"]

80

In [95]:
kates_grade = grades["Kate"]

KeyError: KeyError: key "Kate" not found

In [96]:
joel_has_grade = "Joel" in grades

ErrorException: AbstractDict collections only contain Pairs;
Either look for e.g. A=>B instead, or use the `keys` or `values`
function if you are looking for a key or value respectively.

In [97]:
joel_has_grade = haskey(grades, "Joel")

true

In [98]:
kate_has_grade = haskey(grades, "Kate")

false

In [99]:
joels_grade = get(grades, "Joel", 0)

80

In [100]:
kates_grade = get(grades, "Kate", 0)

0

In [101]:
no_ones_grade = get(grades, "No One", missing)

missing

In [102]:
grades["Tim"] = 99

99

In [103]:
grades["Kate"] = 100

100

In [104]:
num_students = length(grades)

3

In [105]:
tweet = (user = "joelgrus", text = "Data Science is Awesome", retweet_count = 100, hashtags = ["#data", "#science", "#datascience", "#yolo"])

(user = "joelgrus", text = "Data Science is Awesome", retweet_count = 100, hashtags = ["#data", "#science", "#datascience", "#yolo"])

In [106]:
tweet = Dict("user" => "joelgrus", "text" => "Data Science is Awesome", "retweet_count" => 100, "hashtags" => ["#data", "#science", "#datascience", "#yolo"])

Dict{String,Any} with 4 entries:
  "retweet_count" => 100
  "text"          => "Data Science is Awesome"
  "user"          => "joelgrus"
  "hashtags"      => ["#data", "#science", "#datascience", "#yolo"]

In [107]:
tweet_keys = keys(tweet)

Base.KeySet for a Dict{String,Any} with 4 entries. Keys:
  "retweet_count"
  "text"
  "user"
  "hashtags"

In [108]:
tweet_values = values(tweet)

Base.ValueIterator for a Dict{String,Any} with 4 entries. Values:
  100
  "Data Science is Awesome"
  "joelgrus"
  ["#data", "#science", "#datascience", "#yolo"]

In [109]:
tweet_items = pairs(tweet)

Dict{String,Any} with 4 entries:
  "retweet_count" => 100
  "text"          => "Data Science is Awesome"
  "user"          => "joelgrus"
  "hashtags"      => ["#data", "#science", "#datascience", "#yolo"]

In [110]:
"user" in tweet_keys

true

In [111]:
haskey(tweet, "user")

true

In [112]:
"joelgrus" in tweet_values

true

In [113]:
document = "hello hello hello is there anybody out there"

"hello hello hello is there anybody out there"

In [114]:
word_counts = Dict()

Dict{Any,Any} with 0 entries

In [115]:
for word in split(document)
    count = get(word_counts, word, 0)
    word_counts[word] = count + 1
end

In [116]:
word_counts

Dict{Any,Any} with 5 entries:
  "there"   => 2
  "is"      => 1
  "out"     => 1
  "hello"   => 3
  "anybody" => 1

In [117]:
using DataStructures: DefaultDict

In [118]:
word_counts = DefaultDict(0)

DefaultDict{Any,Any,Int64} with 0 entries

In [119]:
for word in split(document)
    word_counts[word] += 1
end

In [120]:
word_counts

DefaultDict{Any,Any,Int64} with 5 entries:
  "there"   => 2
  "is"      => 1
  "out"     => 1
  "hello"   => 3
  "anybody" => 1

In [121]:
dd_list = DefaultDict(() -> [])

DefaultDict{Any,Any,var"#10#11"} with 0 entries

In [122]:
push!(dd_list[2], 1)

1-element Array{Any,1}:
 1

In [123]:
dd_list[2]

1-element Array{Any,1}:
 1

In [124]:
dd_dict = DefaultDict(Dict)

DefaultDict{Any,Any,UnionAll} with 0 entries

In [125]:
dd_dict["Joel"]["City"] = "Seattle"

"Seattle"

In [126]:
dd_dict["Joel"]

Dict{Any,Any} with 1 entry:
  "City" => "Seattle"

In [127]:
dd_array = DefaultDict(Array{Int, 1})

DefaultDict{Any,Any,DataType} with 0 entries

In [128]:
push!(dd_array[2], 5)

1-element Array{Int64,1}:
 5

In [129]:
dd_array[2]

1-element Array{Int64,1}:
 5

In [130]:
dd_pair = DefaultDict(() -> [0, 0])

DefaultDict{Any,Any,var"#12#13"} with 0 entries

In [131]:
dd_pair[2][2] = 1

1

In [132]:
dd_pair

DefaultDict{Any,Any,var"#12#13"} with 1 entry:
  2 => [0, 1]

In [133]:
using DataStructures: counter

In [134]:
c = counter([0, 1, 2, 0])

DataStructures.Accumulator{Int64,Int64} with 3 entries:
  0 => 2
  2 => 1
  1 => 1

In [135]:
word_counts = counter(split(document))

DataStructures.Accumulator{SubString{String},Int64} with 5 entries:
  "there"   => 2
  "is"      => 1
  "out"     => 1
  "hello"   => 3
  "anybody" => 1

In [136]:
for (word, count) in sort(collect(word_counts), by=c->c[2], rev=true)
    print(word, count)
end

hello3there2is1out1anybody1

In [137]:
primes_below_10 = Set([2, 3, 5, 7])

Set{Int64} with 4 elements:
  7
  2
  3
  5

In [138]:
s = Set()

Set{Any} with 0 elements

In [139]:
push!(s, 1)

Set{Any} with 1 element:
  1

In [140]:
push!(s, 2)

Set{Any} with 2 elements:
  2
  1

In [141]:
push!(s, 2)

Set{Any} with 2 elements:
  2
  1

In [142]:
x = length(s)

2

In [143]:
y = 2 in s

true

In [144]:
z = 3 in s

false

In [145]:
stopwords_list = ["a", "an", "at", "yet", "you"]

5-element Array{String,1}:
 "a"
 "an"
 "at"
 "yet"
 "you"

In [146]:
"zip" in stopwords_list

false

In [147]:
stopwords_set = Set(stopwords_list)

Set{String} with 5 elements:
  "yet"
  "you"
  "at"
  "a"
  "an"

In [148]:
"zip" in stopwords_set

false

In [149]:
item_list = [1, 2, 3, 1, 2, 3]

6-element Array{Int64,1}:
 1
 2
 3
 1
 2
 3

In [150]:
num_items = length(item_list)

6

In [151]:
item_set = Set(item_list)

Set{Int64} with 3 elements:
  2
  3
  1

In [152]:
num_distinct_items = length(item_set)

3

In [153]:
distinct_item_list = collect(item_set)

3-element Array{Int64,1}:
 2
 3
 1

In [154]:
message = if 1 > 2
    "if only 1 were greater than 2"
elseif 1 > 3
    "elsif stands for else if"
else
    "when all else fails use else"
end

"when all else fails use else"

In [155]:
parity = x % 2 == 0 ? "even" : "odd"

"even"

In [156]:
x = 0

0

In [157]:
while x < 10
    println("$x is less than 10")
    x += 1
end

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [158]:
for x in 1:10 
    println("$x is less than 10")
end

1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10
10 is less than 10

In [159]:
for x in 0:10
    if x == 3
        continue
    end
    if x == 5
        break
    end
    println(x)
end

0
1
2
4

In [160]:
one_is_less_than_two = 1 < 2

true

In [161]:
true_equals_false = true == false

false

In [162]:
x = nothing

In [163]:
x == nothing

true

In [164]:
isnothing(x)

true

In [165]:
if []
    # should error
end

TypeError: TypeError: non-boolean (Array{Any,1}) used in boolean context

In [166]:
if nothing
    # should error
end

TypeError: TypeError: non-boolean (Nothing) used in boolean context

In [167]:
for s in ["some", nothing]
    if s == nothing
        print("x")
    else
        print(s[begin])
    end
end

sx

In [168]:
some_func() = rand(["some", nothing])

some_func (generic function with 1 method)

In [169]:
# julia doesn't have truthy or falsy values

In [170]:
# Julia's short circuit operator still requires booleans for the first value

In [171]:
true && 5

5

In [172]:
false && 5

false

In [173]:
false || 5

5

In [174]:
true || 5

true

In [175]:
all([true, false])

false

In [176]:
all([true, 1]) # doesn't work

TypeError: TypeError: non-boolean (Int64) used in boolean context

In [177]:
all([])

true

In [178]:
any([true, false])

true

In [179]:
any([true, 0]) # doesn't work

TypeError: TypeError: non-boolean (Int64) used in boolean context

In [180]:
any([])

false

In [181]:
all([1, 2, 3]) do x
    x > 0
end

true

In [182]:
x = [4, 1, 2, 3]

4-element Array{Int64,1}:
 4
 1
 2
 3

In [183]:
y = sort(x)

4-element Array{Int64,1}:
 1
 2
 3
 4

In [184]:
x

4-element Array{Int64,1}:
 4
 1
 2
 3

In [185]:
sort!(x)

4-element Array{Int64,1}:
 1
 2
 3
 4

In [186]:
x

4-element Array{Int64,1}:
 1
 2
 3
 4

In [187]:
x = sort([-4, 1, -2, 3], by=abs, rev=true)

4-element Array{Int64,1}:
 -4
  3
 -2
  1

In [188]:
wc = sort(collect(word_counts), by=word_and_count -> word_and_count[2], rev=true)

5-element Array{Pair{SubString{String},Int64},1}:
   "hello" => 3
   "there" => 2
      "is" => 1
     "out" => 1
 "anybody" => 1

In [189]:
even_numbers = [x for x in 0:4 if x % 2 == 0]

3-element Array{Int64,1}:
 0
 2
 4

In [190]:
squares = [x^2 for x in 0:4]

5-element Array{Int64,1}:
  0
  1
  4
  9
 16

In [191]:
even_squares = [x^2 for x in even_numbers]

3-element Array{Int64,1}:
  0
  4
 16

In [192]:
square_dict = Dict(x => x^2 for x in 0:4)

Dict{Int64,Int64} with 5 entries:
  0 => 0
  4 => 16
  2 => 4
  3 => 9
  1 => 1

In [193]:
square_set = Set(x^2 for x in [1, -1])

Set{Int64} with 1 element:
  1

In [194]:
_zeros = [0 for _ in even_numbers]

3-element Array{Int64,1}:
 0
 0
 0

In [195]:
zero(even_numbers)

3-element Array{Int64,1}:
 0
 0
 0

In [196]:
_pairs = [x => y for x in 0:9 for y in 0:9]

100-element Array{Pair{Int64,Int64},1}:
 0 => 0
 0 => 1
 0 => 2
 0 => 3
 0 => 4
 0 => 5
 0 => 6
 0 => 7
 0 => 8
 0 => 9
 1 => 0
 1 => 1
 1 => 2
   â‹®
 8 => 8
 8 => 9
 9 => 0
 9 => 1
 9 => 2
 9 => 3
 9 => 4
 9 => 5
 9 => 6
 9 => 7
 9 => 8
 9 => 9

In [197]:
increasing_pairs = [x => y for x in 0:9 for y in x+1:9]

45-element Array{Pair{Int64,Int64},1}:
 0 => 1
 0 => 2
 0 => 3
 0 => 4
 0 => 5
 0 => 6
 0 => 7
 0 => 8
 0 => 9
 1 => 2
 1 => 3
 1 => 4
 1 => 5
   â‹®
 4 => 8
 4 => 9
 5 => 6
 5 => 7
 5 => 8
 5 => 9
 6 => 7
 6 => 8
 6 => 9
 7 => 8
 7 => 9
 8 => 9

In [198]:
@assert 1 + 1 == 2

In [199]:
@assert 1 + 1 == 2 "1 + 1 should equal 2 but didn't"

In [200]:
smallest_item = minimum

minimum (generic function with 12 methods)

In [201]:
@assert smallest_item([10, 20, 5, 40]) == 5

In [202]:
@assert smallest_item([1, 0, -1, 2]) == -1

In [203]:
function smallestitem(xs)
    @assert !isempty(xs) "empty list has no smallest item"
    minimum(xs)
end

smallestitem (generic function with 1 method)

In [204]:
smallestitem([1])

1

In [205]:
mutable struct CountingClicker
    count
    
    CountingClicker(count = 0) = new(count)
end

In [206]:
clicker1 = CountingClicker()

CountingClicker(0)

In [207]:
clicker2 = CountingClicker(100)

CountingClicker(100)

In [208]:
Base.show(io::IO, cc::CountingClicker) = print(io, "CountingClicker(count=", cc.count, ")")

In [209]:
clicker1

CountingClicker(count=0)

In [210]:
click!(cc::CountingClicker, num_times=1) = cc.count += 1

click! (generic function with 2 methods)

In [211]:
click!(clicker1)

1

In [212]:
click!(clicker1)

2

In [213]:
reset!(cc::CountingClicker) = cc.count = 0

reset! (generic function with 1 method)

In [214]:
reset!(clicker1)

0

In [215]:
clicker1

CountingClicker(count=0)

In [216]:
clicker = CountingClicker()

CountingClicker(count=0)

In [217]:
@assert clicker.count == 0 "clicker should start with count 0"

In [218]:
click!(clicker)

1

In [219]:
click!(clicker)

2

In [220]:
@assert clicker.count == 2 "after two clicks, clicker should have count 2"

In [221]:
reset!(clicker)

0

In [222]:
@assert clicker.count == 0 "after reset, clicker should be back to 0"

In [223]:
# Julia doesn't have classical inheritence

In [224]:
struct GeneratorRange
    n
end

In [225]:
Base.iterate(gr::GeneratorRange,state = 0) = state < gr.n ? (state, state + 1) : nothing

In [226]:
for i in GeneratorRange(5)
    println(i)
end

0
1
2
3
4

In [227]:
struct NaturalNumber end

In [228]:
Base.iterate(_nn::NaturalNumber,state = 1) = (state, state + 1)

In [229]:
evens_below_20 = (i for i in GeneratorRange(20) if i % 2 == 0)

Base.Generator{Base.Iterators.Filter{var"#40#41",GeneratorRange},typeof(identity)}(identity, Base.Iterators.Filter{var"#40#41",GeneratorRange}(var"#40#41"(), GeneratorRange(20)))

In [230]:
data = NaturalNumber()

NaturalNumber()

In [231]:
evens = (x for x in data if x % 2 == 0)

Base.Generator{Base.Iterators.Filter{var"#42#43",NaturalNumber},typeof(identity)}(identity, Base.Iterators.Filter{var"#42#43",NaturalNumber}(var"#42#43"(), NaturalNumber()))

In [232]:
even_squares = (x^2 for x in evens)

Base.Generator{Base.Generator{Base.Iterators.Filter{var"#42#43",NaturalNumber},typeof(identity)},var"#44#45"}(var"#44#45"(), Base.Generator{Base.Iterators.Filter{var"#42#43",NaturalNumber},typeof(identity)}(identity, Base.Iterators.Filter{var"#42#43",NaturalNumber}(var"#42#43"(), NaturalNumber())))

In [233]:
even_squares_ending_in_six = (x for x in even_squares if x % 10 == 6)

Base.Generator{Base.Iterators.Filter{var"#46#47",Base.Generator{Base.Generator{Base.Iterators.Filter{var"#42#43",NaturalNumber},typeof(identity)},var"#44#45"}},typeof(identity)}(identity, Base.Iterators.Filter{var"#46#47",Base.Generator{Base.Generator{Base.Iterators.Filter{var"#42#43",NaturalNumber},typeof(identity)},var"#44#45"}}(var"#46#47"(), Base.Generator{Base.Generator{Base.Iterators.Filter{var"#42#43",NaturalNumber},typeof(identity)},var"#44#45"}(var"#44#45"(), Base.Generator{Base.Iterators.Filter{var"#42#43",NaturalNumber},typeof(identity)}(identity, Base.Iterators.Filter{var"#42#43",NaturalNumber}(var"#42#43"(), NaturalNumber())))))

In [234]:
_names = ["Alice", "Bob", "Charlie", "Debbie"]

4-element Array{String,1}:
 "Alice"
 "Bob"
 "Charlie"
 "Debbie"

In [235]:
for i = 1:length(_names)
    println("$i is $(_names[i])")
end

1 is Alice
2 is Bob
3 is Charlie
4 is Debbie

In [236]:
for (i, name) in enumerate(_names)
    println("$i is $name")
end

1 is Alice
2 is Bob
3 is Charlie
4 is Debbie

In [237]:
using Random

In [238]:
four_uniform_randoms = rand(4)

4-element Array{Float64,1}:
 0.047874728418382695
 0.571061408739838
 0.6871997218449231
 0.17714871428026058

In [239]:
rng = MersenneTwister(10)

MersenneTwister(UInt32[0x0000000a], Random.DSFMT.DSFMT_state(Int32[1007524736, 1073256705, 415953332, 1072893275, -601364280, 1073193666, -1335760268, 1072926448, 1521827180, 1073499520  â€¦  -439825479, 1072978026, -411693740, 1073111955, -1611334130, 1963385220, 236575170, -789052601, 382, 0]), [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0  â€¦  0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], UInt128[0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000  â€¦  0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000], 1002, 0)

In [240]:
rand(rng)

0.11258244478647295

In [241]:
rng = MersenneTwister(10)

MersenneTwister(UInt32[0x0000000a], Random.DSFMT.DSFMT_state(Int32[1007524736, 1073256705, 415953332, 1072893275, -601364280, 1073193666, -1335760268, 1072926448, 1521827180, 1073499520  â€¦  -439825479, 1072978026, -411693740, 1073111955, -1611334130, 1963385220, 236575170, -789052601, 382, 0]), [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0  â€¦  0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], UInt128[0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000  â€¦  0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000, 0x00000000000000000000000000000000], 1002, 0)

In [242]:
rand(rng)

0.11258244478647295

In [243]:
rand(0:9)

1

In [244]:
rand(3:5)

3

In [245]:
up_to_ten = collect(1:10)

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [246]:
shuffle!(up_to_ten)

10-element Array{Int64,1}:
  5
  9
  2
  1
  7
  8
  4
 10
  6
  3

In [247]:
up_to_ten

10-element Array{Int64,1}:
  5
  9
  2
  1
  7
  8
  4
 10
  6
  3

In [248]:
my_best_friend = rand(["Alice", "Bob", "Charlie"])

"Charlie"

In [249]:
lottery_numbers = 1:60

1:60

In [250]:
winning_numbers = randsubseq(lottery_numbers, 6/60)

3-element Array{Int64,1}:
  7
 30
 46

In [251]:
using StatsBase

In [252]:
sample(lottery_numbers, 6)

6-element Array{Int64,1}:
 50
 54
 58
 13
  5
 31

In [253]:
four_with_replacement = rand(1:10, 4)

4-element Array{Int64,1}:
 4
 9
 1
 4

In [254]:
match(r"a", "cat")

RegexMatch("a")

In [255]:
occursin(r"a", "cat")

true

In [256]:
startswith("cat", "a")

false

In [257]:
occursin(r"^a", "cat")

false

In [258]:
split("carbs", r"[ab]")

3-element Array{SubString{String},1}:
 "c"
 "r"
 "s"

In [259]:
replace("R2D2", r"[0-9]" => "-")

"R-D-"

In [260]:
# Unlike Python, Julia's support for functional programming is really good

In [261]:
list1 = 'a':'c'

'a':1:'c'

In [262]:
list2 = 1:3

1:3

In [263]:
[p for p in zip(list1, list2)]

3-element Array{Tuple{Char,Int64},1}:
 ('a', 1)
 ('b', 2)
 ('c', 3)

In [264]:
p = [('a', 1), ('b', 2), ('c', 3)]

3-element Array{Tuple{Char,Int64},1}:
 ('a', 1)
 ('b', 2)
 ('c', 3)

In [265]:
letters, numbers = collect(zip(p...)) # ... in Julia does splatting aka argument unpacking in python

2-element Array{Tuple{Any,Any,Any},1}:
 ('a', 'b', 'c')
 (1, 2, 3)

In [266]:
letters

('a', 'b', 'c')

In [267]:
numbers

(1, 2, 3)

In [268]:
add(a, b) = a + b

add (generic function with 1 method)

In [269]:
add(1, 2)

3

In [270]:
add([1,2])

MethodError: MethodError: no method matching add(::Array{Int64,1})
Closest candidates are:
  add(::Any, !Matched::Any) at In[268]:1

In [271]:
add([1, 2]...)

3

In [272]:
function doubler(f)
    g(x) = 2f(x)
end

doubler (generic function with 1 method)

In [273]:
f1(x) = x + 1

f1 (generic function with 1 method)

In [274]:
g = doubler(f1)

g (generic function with 1 method)

In [275]:
g(3)

8

In [276]:
g(-1)

0

In [277]:
f2(x, y) = x + y

f2 (generic function with 1 method)

In [278]:
g = doubler(f2)

g (generic function with 1 method)

In [279]:
g(1, 2)

MethodError: MethodError: no method matching (::var"#g#48"{typeof(f2)})(::Int64, ::Int64)
Closest candidates are:
  g(::Any) at In[272]:2

In [280]:
function magic(args...; kwargs...) 
    println("args: $(args)")
    println("kwargs: $(kwargs)")
end

magic (generic function with 1 method)

In [281]:
magic(1,2, key="word", key2="word2")

args: (1, 2)
kwargs: Base.Iterators.Pairs(:key => "word",:key2 => "word2")

In [282]:
other_way_magic(x,y;z) = x + y + z

other_way_magic (generic function with 1 method)

In [283]:
x_y_list = [1,2]

2-element Array{Int64,1}:
 1
 2

In [284]:
z_dict = (z=3)

3

In [285]:
other_way_magic(x_y_list..., z_dict...)

MethodError: MethodError: no method matching other_way_magic(::Int64, ::Int64, ::Int64)
Closest candidates are:
  other_way_magic(::Any, ::Any; z) at In[282]:1

In [286]:
doubler_correct(f) = (args...; kwargs...) -> 2f(args..., kwargs...)

doubler_correct (generic function with 1 method)

In [287]:
g = doubler_correct(f2)

#51 (generic function with 1 method)

In [288]:
g(1, 2)

6

In [289]:
add(a::Int, b::Int)::Int = a + b

add (generic function with 2 methods)

In [290]:
add(10,5)

15

In [291]:
add("hi", "there") # type annotations actually do things in Julia and are very important

MethodError: MethodError: no method matching +(::String, ::String)
Closest candidates are:
  +(::Any, ::Any, !Matched::Any, !Matched::Any...) at operators.jl:529

In [292]:
_values = []

0-element Array{Any,1}

In [293]:
best_so_far = nothing

In [294]:
_values = Array{Integer}([])

0-element Array{Integer,1}

In [295]:
best_so_far = nothing :: Union{AbstractFloat, Nothing}

In [296]:
_counts = Dict("data" => 1, "science" => 2) :: Dict{String, Int}

Dict{String,Int64} with 2 entries:
  "data"    => 1
  "science" => 2

In [297]:
evens = (x for x in 1:10 if x % 2 == 0) # Not going to bother with this

Base.Generator{Base.Iterators.Filter{var"#55#56",UnitRange{Int64}},typeof(identity)}(identity, Base.Iterators.Filter{var"#55#56",UnitRange{Int64}}(var"#55#56"(), 1:10))

In [298]:
triple = (10, 2.3, 5) :: Tuple{Int, Float64, Int}

(10, 2.3, 5)

In [299]:
twice(repeater::Function, s::String)::String = repeater(s, 2)

twice (generic function with 1 method)

In [300]:
twice("type hints") do s::String, n::Int
    join((s for _ in 1:n), ", ")
end

"type hints, type hints"

In [301]:
Number_ = Int

Int64

In [302]:
Numbers_ = Array{Number_}

Array{Int64,N} where N

In [303]:
total(xs::Numbers_)::Number_ = sum(xs)

total (generic function with 1 method)